[includeIf "gitdir/i:git/"]
    path = ~/.config/git/private.git
[includeIf "gitdir/i:work/"]
    path = ~/.config/git/work.git
[includeIf "gitdir/i:Desktop/git"]
    path = ~/.gitconfig-private
[includeIf "gitdir/i:Desktop/work"]
    path = ~/.gitconfig-work
[core]
	editor = emacs
    autocrlf = input
[credential]
    helper = store
[alias]
        lg           = !"git lg2"
        lg-sim       = !"git lg --simplify-by-decoration"
        lg1          = !"git lg1-specific --all"
        lg2          = !"git lg2-specific --all"
        lg3          = !"git lg3-specific --all"

        lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'

        lg2-specific = log --graph --abbrev-commit --decorate --date=local --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%ad%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'

        lg3-specific = log --graph --abbrev-commit --decorate --date=local --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%ad%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'
