! Colours:
! #include ".config/x/iceberg.theme"
#include ".config/x/aci-modified.theme"
! #include ".config/x/material.theme"
! #include ".config/x/random.theme"
! #include ".config/x/adventuretime.theme"

! default dpi (undocked)
Xft.dpi: 140

! #include ".config/x/urxvt.Xresouces"
